export AWS_ACCESS_KEY_ID=$(op item get "Aws" --fields "Your Access key ID")
export AWS_SECRET_ACCESS_KEY=$(op item get "Aws" --fields "Your Secret access key")
export AWS_REGION=$(op item get "Aws" --fields "Your Region")

echo "$(op item get "Github" --fields "Your SSH pub key")" > /tmp/ssh_pub_key
export TF_VAR_SSH_PUB_KEY_PATH="/tmp/your_ssh_pub_key"